.ca-cards-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 40px 40px;
    height: 100%;

    &__column {
        height: 100%;
        &:nth-child(even) {
            background: #eee;
        }
        min-width: 300px;
        padding: 10px;

        &__title {
            text-align: center;
            padding: 30px 0;
        }
    }
}
