.ca-card {
    padding: 20px 0;
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;

    &__info-wrapper {
        display: flex;
        padding: 0 20px;
        align-items: center;

        .ca_card__info-wrapper__avatar {
            margin-right: 20px;
        }
    }

    .ca_card__change-status {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 20px;
        cursor: pointer;

        &.prev-status {
            left: 20px;
            > .icon {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;

                border-right: 10px solid #000;
            }
        }

        &.next-status {
            right: 20px;
            > .icon {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;

                border-left: 10px solid #000;
            }
        }
    }
}
